SatelliteSimulation/controller/__pycache__/controller.cpython-36.pyc
SatelliteSimulation/model/__pycache__/model.cpython-36.pyc
SatelliteSimulation/view/__pycache__/disturbance_buttons.cpython-36.pyc
SatelliteSimulation/view/__pycache__/earth.cpython-36.pyc
SatelliteSimulation/view/__pycache__/pygame_button.cpython-36.pyc
SatelliteSimulation/view/__pycache__/satellite_border.cpython-36.pyc
SatelliteSimulation/view/__pycache__/view.cpython-36.pyc
SatelliteSimulation/controller/__pycache__/controller.cpython-38.pyc
SatelliteSimulation/model/basic_math/__pycache__/motion.cpython-36.pyc
.gitignore
SatelliteSimulation/model/basic_math/__pycache__/motion.cpython-39.pyc
SatelliteSimulation/model/basic_math/__pycache__/vector.cpython-36.pyc
SatelliteSimulation/model/colllision/__pycache__/collision.cpython-36.pyc
SatelliteSimulation/__pycache__/test_collision_avoidance.cpython-36.pyc
.vscode/settings.json
SatelliteSimulation/model/__pycache__/arrow.cpython-36.pyc
SatelliteSimulation/model/basic_math/__pycache__/math_basic.cpython-36.pyc
SatelliteSimulation/model/basic_math/__pycache__/velocity.cpython-36.pyc
SatelliteSimulation/model/colllision/__pycache__/collision_avoidance.cpython-36.pyc
SatelliteSimulation/model/disturbance/__pycache__/disturbance.cpython-36.pyc
SatelliteSimulation/model/satellite/__pycache__/satellite_velocity_handler.cpython-36.pyc
SatelliteSimulation/view/__pycache__/navigation_handler.cpython-36.pyc
SatelliteSimulation/view/objects/__pycache__/arrow_view.cpython-36.pyc
SatelliteSimulation/view/objects/__pycache__/border_view.cpython-36.pyc
SatelliteSimulation/view/objects/__pycache__/earth.cpython-36.pyc
SatelliteSimulation/view/objects/__pycache__/satellite_observance_border_view.cpython-36.pyc
SatelliteSimulation/view/objects/__pycache__/satellite_view.cpython-36.pyc
SatelliteSimulation/view/objects/__pycache__/view_references.cpython-36.pyc
SatelliteSimulation/view/objects/button/__pycache__/button_control_panel_view.cpython-36.pyc
SatelliteSimulation/view/objects/button/__pycache__/pygame_button.cpython-36.pyc
SatelliteSimulation/view/resources/__pycache__/Color.cpython-36.pyc
SatelliteSimulation/view/resources/__pycache__/images.cpython-36.pyc
