SatelliteSimulation/controller/__pycache__/controller.cpython-36.pyc
SatelliteSimulation/model/__pycache__/model.cpython-36.pyc
SatelliteSimulation/view/__pycache__/disturbance_buttons.cpython-36.pyc
SatelliteSimulation/view/__pycache__/earth.cpython-36.pyc
SatelliteSimulation/view/__pycache__/pygame_button.cpython-36.pyc
SatelliteSimulation/view/__pycache__/satellite_border.cpython-36.pyc
SatelliteSimulation/view/__pycache__/view.cpython-36.pyc
SatelliteSimulation/controller/__pycache__/controller.cpython-38.pyc
SatelliteSimulation/model/basic_math/__pycache__/motion.cpython-36.pyc
.gitignore
SatelliteSimulation/model/basic_math/__pycache__/motion.cpython-39.pyc
SatelliteSimulation/model/basic_math/__pycache__/vector.cpython-36.pyc
SatelliteSimulation/model/colllision/__pycache__/collision.cpython-36.pyc
